php/src/tests/samples/services/wsdl_mode/echoDate.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns0="http://wso2.org/dyn/codegen/demo" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns1="http://wso2.org/dyn/codegen/demo/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://wso2.org/dyn/codegen/demo">
    <wsdl:types>
        <xs:schema xmlns:tns="http://wso2.org/dyn/codegen/demo" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://wso2.org/dyn/codegen/demo">
            <!-- demonstrating element-->
            <xs:element name="echoDate">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="dateTime" type="xs:dateTime"/>
                  <xs:element name="time" type="xs:time"/>
                  <xs:element name="date" type="xs:date"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>

            <!-- kept just for the completeness -->
            
            <xs:element name="echoDateResponse">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="dateTime" type="xs:dateTime"/>
                  <xs:element name="time" type="xs:time"/>
                  <xs:element name="date" type="xs:date"/>
                  <xs:element name="dateTimeInt" type="xs:int"/>
                  <xs:element name="timeInt" type="xs:int"/>
                  <xs:element name="dateInt" type="xs:int"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="echoDateRequest">
        <wsdl:part name="parameters" element="ns0:echoDate"/>
    </wsdl:message>
    <wsdl:message name="echoDateResponse">
        <wsdl:part name="parameters" element="ns0:echoDateResponse"/>
    </wsdl:message>
    <wsdl:portType name="MyServicePortType">
        <wsdl:operation name="echoDate">
            <wsdl:input message="ns0:echoDateRequest"/>
            <wsdl:output message="ns0:echoDateResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MyServiceSOAP12Binding" type="ns0:MyServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="echoDate">
            <soap12:operation soapAction="urn:echoDate" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MyService">
        <wsdl:port name="MyServiceSOAP12port_http" binding="ns0:MyServiceSOAP12Binding">
            <soap:address location="http://localhost/services/wsdl_mode/echoDateService.php"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
