php/src/tests/samples/services/wsdl_mode/NullHandling.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns0="http://wso2.org/dyn/codegen/demo" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns1="http://wso2.org/dyn/codegen/demo/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://wso2.org/dyn/codegen/demo">
    <wsdl:types>
        <xs:schema xmlns:tns="http://wso2.org/dyn/codegen/demo" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://wso2.org/dyn/codegen/demo">
            <xs:element name="myDemo_root_nil" nillable="true" type="xs:string"/>
            <xs:element name="myDemo_inner_nil">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="demo1" nillable="true" type="xs:int"/>
                        <xs:element name="demo2" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="myDemoResponse" type="xs:string"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="myDemo_root_nil_Request">
        <wsdl:part name="parameters" element="ns0:myDemo_root_nil"/>
    </wsdl:message>
    <wsdl:message name="myDemo_root_nil_Response">
        <wsdl:part name="parameters" element="ns0:myDemoResponse"/>
    </wsdl:message>
    <wsdl:message name="myDemo_inner_nil_Request">
        <wsdl:part name="parameters" element="ns0:myDemo_inner_nil"/>
    </wsdl:message>
    <wsdl:message name="myDemo_inner_nil_Response">
        <wsdl:part name="parameters" element="ns0:myDemoResponse"/>
    </wsdl:message>
    <wsdl:portType name="MyServicePortType">
        <wsdl:operation name="myDemo_inner_nil">
            <wsdl:input message="ns0:myDemo_inner_nil_Request"/>
            <wsdl:output message="ns0:myDemo_inner_nil_Response"/>
        </wsdl:operation>
        <wsdl:operation name="myDemo_root_nil">
            <wsdl:input message="ns0:myDemo_root_nil_Request"/>
            <wsdl:output message="ns0:myDemo_root_nil_Response"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MyServiceSOAP12Binding" type="ns0:MyServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="myDemo_inner_nil">
            <soap12:operation soapAction="urn:myDemo" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="myDemo_root_nil">
            <soap12:operation soapAction="urn:myDemo" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MyService">
        <wsdl:port name="MyServiceSOAP12port_http" binding="ns0:MyServiceSOAP12Binding">
            <soap:address location="http://localhost/services/wsdl_mode/NullHandling.php"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
