php/src/tests/samples/services/wsdl_mode/simple_adder.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns0="http://ws.apache.org/axis2" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns1="http://ws.apache.org/axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://ws.apache.org/axis2">
    <wsdl:types>
        <xs:schema xmlns:ns="http://ws.apache.org/axis2" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.apache.org/axis2">
            <xs:element name="simpleAdd">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="param0" nillable="true" type="xs:int"/>
                        <xs:element minOccurs="0" name="param1" nillable="true" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="simpleAddResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="simpleAddRequest">
        <wsdl:part name="parameters" element="ns0:simpleAdd"/>
    </wsdl:message>
    <wsdl:message name="simpleAddResponse">
        <wsdl:part name="parameters" element="ns0:simpleAddResponse"/>
    </wsdl:message>
    <wsdl:portType name="SimpleAdderPortType">
        <wsdl:operation name="simpleAdd">
            <wsdl:input message="ns0:simpleAddRequest" wsaw:Action="urn:simpleAdd"/>
            <wsdl:output message="ns0:simpleAddResponse" wsaw:Action="urn:simpleAddResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SimpleAdderSOAP11Binding" type="ns0:SimpleAdderPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="simpleAdd">
            <soap:operation soapAction="urn:simpleAdd" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SimpleAdderSOAP12Binding" type="ns0:SimpleAdderPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="simpleAdd">
            <soap12:operation soapAction="urn:simpleAdd" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SimpleAdderHttpBinding" type="ns0:SimpleAdderPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="simpleAdd">
            <http:operation location="SimpleAdder/simpleAdd"/>
            <wsdl:input>
                <mime:content type="text/xml" part="simpleAdd"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="simpleAdd"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SimpleAdder">
        <wsdl:port name="SimpleAdderSOAP11port_http" binding="ns0:SimpleAdderSOAP11Binding">
            <soap:address location="http://localhost/services/wsdl_mode/simple_service.php"/>
        </wsdl:port>
        <wsdl:port name="SimpleAdderSOAP12port_http" binding="ns0:SimpleAdderSOAP12Binding">
            <soap12:address location="http://localhost/services/wsdl_mode/simple_service.php"/>
        </wsdl:port>
        <wsdl:port name="SimpleAdderHttpport" binding="ns0:SimpleAdderHttpBinding">
            <http:address location="http://localhost/services/wsdl_mode/simple_service.php"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
