solutions/php/drupalapi/DrupalAPI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:ns1="http://org.apache.axis2/xsd"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:ax21="http://drupal.api.php.wso2.org/xsd"
                  xmlns:ns="http://drupal.api.php.wso2.org"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  targetNamespace="http://drupal.api.php.wso2.org">


  <wsp:Policy wsu:Id="transport_binding_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:policy>
            <sp:TransportToken>
              <wsp:policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:policy>
                <sp:Basic256 />
              </wsp:policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:policy>
                <sp:Lax />
              </wsp:policy>
            </sp:Layout>
          </wsp:policy>
        </sp:TransportBinding>
        <sp:Wss10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportRefKeyIdentifier/>
            <sp:MustSupportRefEmbeddedToken/>
            <sp:MustSupportRefIssuerSerial/>
          </wsp:Policy>
        </sp:Wss10>

      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>

  <wsp:Policy wsu:Id="username_token_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:SignedSupportingTokens>
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10/>
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>


  <wsdl:types>
        <xs:schema xmlns:ax22="http://drupal.api.php.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://drupal.api.php.wso2.org">
            <xs:import namespace="http://drupal.api.php.wso2.org/xsd"/>

            <xs:element name="postComment">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="comment" nillable="true" type="ax22:Comment"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="postCommentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="login">
                <xs:complexType>
                    <xs:sequence>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="loginResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="postStory">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="post" nillable="true" type="ax22:Node"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="postStoryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="postPage">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="post" nillable="true" type="ax22:Node"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="postPageResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getNodes">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0"  name="limit" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
          <xs:element name="getNodesResponse">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax22:Node"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="getNodeById">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0"  name="id" type="xs:int"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
            <xs:element name="getNodeByIdResponse">
                <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" name="return" nillable="true" type="ax22:Node"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getNodesByDuration">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="startTime" type="xs:dateTime"/>
                  <xs:element name="endTime" type="xs:dateTime"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="getNodesByDurationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax22:Node"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCommentsForNode">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="nodeId"  nillable="true" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCommentsForNodeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax22:Comment"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getComments">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="limit" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCommentsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax22:Comment"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCommentsByDuration">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="startTime" type="xs:dateTime"/>
                    <xs:element name="endTime" type="xs:dateTime"/>
                  </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCommentsByDurationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax22:Comment"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://drupal.api.php.wso2.org/xsd">
            <xs:complexType name="User">
                <xs:sequence>
                  <xs:element minOccurs="0" name="id"  nillable="true" type="xs:int"/>
                  <xs:element minOccurs="0" name="name"  nillable="true" type="xs:string"/>
                  <xs:element minOccurs="0" name="password"  nillable="true" type="xs:string"/>
                  <xs:element minOccurs="0" name="email"  nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Comment">
              <xs:sequence>
                <xs:element minOccurs="0" name="id"  nillable="true" type="xs:int"/>
                <xs:element minOccurs="0" name="title"  nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="content"  nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="time"  nillable="true" type="xs:dateTime"/>
                <xs:element minOccurs="0" name="nodeId"  nillable="true" type="xs:int"/>
                <xs:element minOccurs="0" name="userId"  nillable="true" type="xs:int"/>
                <xs:element minOccurs="0" name="userName"  nillable="true" type="xs:string"/>
              </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Node">
              <xs:sequence>
                <xs:element minOccurs="0" name="id"  nillable="true" type="xs:int"/>
                <xs:element minOccurs="0" name="title"  nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="content"  nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="time"  nillable="true" type="xs:dateTime"/>
                <xs:element minOccurs="0" name="userId"  nillable="true" type="xs:int"/>
                <xs:element minOccurs="0" name="promote"  nillable="true" type="xs:boolean"/>
                <xs:element minOccurs="0" name="moderate"  nillable="true" type="xs:boolean"/>
                <xs:element minOccurs="0" name="commentAccess"  nillable="true" type="xs:int"/>
                <xs:element minOccurs="0" name="type"  nillable="true" type="xs:string"/>
              </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="postStoryRequest">
        <wsdl:part name="parameters" element="ns:postStory"/>
    </wsdl:message>
    <wsdl:message name="postStoryResponse">
        <wsdl:part name="parameters" element="ns:postStoryResponse"/>
    </wsdl:message>
    <wsdl:message name="loginRequest">
        <wsdl:part name="parameters" element="ns:login"/>
    </wsdl:message>
    <wsdl:message name="loginResponse">
        <wsdl:part name="parameters" element="ns:loginResponse"/>
    </wsdl:message>
    <wsdl:message name="postPageRequest">
        <wsdl:part name="parameters" element="ns:postPage"/>
    </wsdl:message>
    <wsdl:message name="postPageResponse">
        <wsdl:part name="parameters" element="ns:postPageResponse"/>
    </wsdl:message>
    <wsdl:message name="getCommentsForNodeRequest">
        <wsdl:part name="parameters" element="ns:getCommentsForNode"/>
    </wsdl:message>
    <wsdl:message name="getCommentsForNodeResponse">
        <wsdl:part name="parameters" element="ns:getCommentsForNodeResponse"/>
    </wsdl:message>
    <wsdl:message name="getCommentsRequest">
      <wsdl:part name="parameters" element="ns:getComments"/>
    </wsdl:message>
    <wsdl:message name="getCommentsResponse">
        <wsdl:part name="parameters" element="ns:getCommentsResponse"/>
    </wsdl:message>
    <wsdl:message name="getCommentsByDurationRequest">
      <wsdl:part name="parameters" element="ns:getCommentsByDuration"/>
    </wsdl:message>
    <wsdl:message name="getCommentsByDurationResponse">
        <wsdl:part name="parameters" element="ns:getCommentsByDurationResponse"/>
    </wsdl:message>
    <wsdl:message name="postCommentRequest">
        <wsdl:part name="parameters" element="ns:postComment"/>
    </wsdl:message>
    <wsdl:message name="postCommentResponse">
        <wsdl:part name="parameters" element="ns:postCommentResponse"/>
    </wsdl:message>
    <wsdl:message name="getNodesRequest">
      <wsdl:part name="parameters" element="ns:getNodes"/>
    </wsdl:message>
    <wsdl:message name="getNodesResponse">
        <wsdl:part name="parameters" element="ns:getNodesResponse"/>
    </wsdl:message>
    <wsdl:message name="getNodeByIdRequest">
      <wsdl:part name="parameters" element="ns:getNodeById"/>
    </wsdl:message>
    <wsdl:message name="getNodeByIdResponse">
      <wsdl:part name="parameters" element="ns:getNodeByIdResponse"/>
    </wsdl:message>
    <wsdl:message name="getNodesByDurationRequest">
      <wsdl:part name="parameters" element="ns:getNodesByDuration"/>
    </wsdl:message>
    <wsdl:message name="getNodesByDurationResponse">
        <wsdl:part name="parameters" element="ns:getNodesByDurationResponse"/>
    </wsdl:message>
    <wsdl:portType name="DrupalAPIPortType">
        <wsdl:operation name="login">
            <wsdl:input message="ns:loginRequest" wsaw:Action="urn:login"/>
            <wsdl:output message="ns:loginResponse" wsaw:Action="urn:loginResponse"/>
        </wsdl:operation>
        <wsdl:operation name="postStory">
            <wsdl:input message="ns:postStoryRequest" wsaw:Action="urn:postStory"/>
            <wsdl:output message="ns:postStoryResponse" wsaw:Action="urn:postStoryResponse"/>
        </wsdl:operation>
        <wsdl:operation name="postPage">
            <wsdl:input message="ns:postPageRequest" wsaw:Action="urn:postPage"/>
            <wsdl:output message="ns:postPageResponse" wsaw:Action="urn:postPageResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getCommentsForNode">
            <wsdl:input message="ns:getCommentsForNodeRequest" wsaw:Action="urn:getCommentsForNode"/>
            <wsdl:output message="ns:getCommentsForNodeResponse" wsaw:Action="urn:getCommentsForNodeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getComments">
            <wsdl:input message="ns:getCommentsRequest" wsaw:Action="urn:getComments"/>
            <wsdl:output message="ns:getCommentsResponse" wsaw:Action="urn:getCommentsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getCommentsByDuration">
            <wsdl:input message="ns:getCommentsByDurationRequest" wsaw:Action="urn:getCommentsByDuration"/>
            <wsdl:output message="ns:getCommentsByDurationResponse" wsaw:Action="urn:getCommentsByDurationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="postComment">
            <wsdl:input message="ns:postCommentRequest" wsaw:Action="urn:postComment"/>
            <wsdl:output message="ns:postCommentResponse" wsaw:Action="urn:postCommentResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getNodes">
            <wsdl:input message="ns:getNodesRequest" wsaw:Action="urn:getNodes"/>
            <wsdl:output message="ns:getNodesResponse" wsaw:Action="urn:getNodesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getNodeById">
            <wsdl:input message="ns:getNodeByIdRequest" wsaw:Action="urn:getNodeById"/>
            <wsdl:output message="ns:getNodeByIdResponse" wsaw:Action="urn:getNodeByIdResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getNodesByDuration">
            <wsdl:input message="ns:getNodesByDurationRequest" wsaw:Action="urn:getNodesByDuration"/>
            <wsdl:output message="ns:getNodesByDurationResponse" wsaw:Action="urn:getNodesByDurationResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DrupalAPISoap11Binding" type="ns:DrupalAPIPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsp:PolicyReference URI="#transport_binding_policy"/>
        <wsdl:operation name="postStory">
            <soap:operation soapAction="urn:postStory" style="document"/>
            <wsdl:input>
                <wsp:PolicyReference URI="#username_token_policy"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="login">
            <soap:operation soapAction="urn:login" style="document"/>
            <wsdl:input>
                <wsp:PolicyReference URI="#username_token_policy"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="postPage">
            <soap:operation soapAction="urn:postPage" style="document"/>
            <wsdl:input>
                <wsp:PolicyReference URI="#username_token_policy"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCommentsForNode">
            <soap:operation soapAction="urn:getCommentsForNode" style="document"/>
          <wsdl:input>
            <soap:body use="literal"/>
          </wsdl:input>
          <wsdl:output>
            <soap:body use="literal"/>
          </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getComments">
          <soap:operation soapAction="urn:getComments" style="document"/>
          <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCommentsByDuration">
          <soap:operation soapAction="urn:getCommentsByDuration" style="document"/>
          <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="postComment">
            <soap:operation soapAction="urn:postComment" style="document"/>
            <wsdl:input>
                <wsp:PolicyReference URI="#username_token_policy"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getNodes">
            <soap:operation soapAction="urn:getNodes" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
          <wsdl:operation name="getNodeById">
            <soap12:operation soapAction="urn:getNodeById" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getNodesByDuration">
            <soap:operation soapAction="urn:getNodesByDuration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="DrupalAPISoap12Binding" type="ns:DrupalAPIPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="postStory">
            <soap12:operation soapAction="urn:postStory" style="document"/>
            <wsdl:input>
                <wsp:PolicyReference URI="#username_token_policy"/>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="login">
            <soap:operation soapAction="urn:login" style="document"/>
            <wsdl:input>
                <wsp:PolicyReference URI="#username_token_policy"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="postPage">
            <soap:operation soapAction="urn:postPage" style="document"/>
            <wsdl:input>
                <wsp:PolicyReference URI="#username_token_policy"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCommentsForNode">
            <soap12:operation soapAction="urn:getCommentsForNode" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
          <wsdl:operation name="getComments">
            <soap12:operation soapAction="urn:getComments" style="document"/>
            <wsdl:input>
              <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
              <soap12:body use="literal"/>
            </wsdl:output>
          </wsdl:operation>
        <wsdl:operation name="getCommentsByDuration">
          <soap:operation soapAction="urn:getCommentsByDuration" style="document"/>
          <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
          <wsdl:operation name="postComment">
            <soap12:operation soapAction="urn:postComment" style="document"/>
            <wsdl:input>
              <wsp:PolicyReference URI="#username_token_policy"/>
              <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
              <soap12:body use="literal"/>
            </wsdl:output>
          </wsdl:operation>
          <wsdl:operation name="getNodes">
            <soap12:operation soapAction="urn:getNodes" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
          <wsdl:operation name="getNodeById">
            <soap12:operation soapAction="urn:getNodeById" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getNodesByDuration">
            <soap:operation soapAction="urn:getNodesByDuration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DrupalAPI">
        <wsdl:port name="DrupalAPIHttpSoap11Endpoint" binding="ns:DrupalAPISoap11Binding">
            <soap:address location="http://localhost:8080/solutions/drupalapi/drupal_service.php"/>
        </wsdl:port>
        <wsdl:port name="DrupalAPIHttpSoap12Endpoint" binding="ns:DrupalAPISoap12Binding">
            <soap12:address location="http://localhost:8080/solutions/drupalapi/drupal_service.php"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
