add-ons/c/adminservices/service_group_admin/resources/ServiceGroupAdmin.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://mgt.service.carbon.wso2.org" xmlns:ax2116="http://utils.carbon.wso2.org/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax2119="http://mgt.service.carbon.wso2.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://mgt.service.carbon.wso2.org">
    <wsdl:documentation>ServiceGroupAdmin</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ns="http://org.apache.axis2/xsd" xmlns:ax2120="http://mgt.service.carbon.wso2.org/xsd" xmlns:ax2118="http://utils.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://org.apache.axis2/xsd">
            <xs:import namespace="http://utils.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://mgt.service.carbon.wso2.org/xsd"/>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ServerException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="ServerException" nillable="true" type="ax2118:ServerException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateServiceGroupParamters">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceGroupName" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="params" nillable="true" type="ax2120:ParameterMetaData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateServiceGroupParameter">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceGroupName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramMetaData" nillable="true" type="ax2120:ParameterMetaData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setServiceGroupParameters">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceGroupId" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="parameterElement" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setServiceGroupParameter">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceGroupId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="parameterElement" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeServiceGroupParameter">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceGroupId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="parameterName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Exception">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="Exception" nillable="true" type="ns:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listServiceGroup">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceGroupName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="listServiceGroupResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2120:ServiceGroupMetaData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServiceGroupParameters">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceGroupName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServiceGroupParametersResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServiceGroupParameter">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceGroupName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paramName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getServiceGroupParameterResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2120:ParameterMetaData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="dumpAAR">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="serviceGroupName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="dumpAARResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="configureServiceGroupMTOM">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="flag" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="serviceGroupName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="configureServiceGroupMTOMResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2120:ServiceGroupMetaData"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:ax2117="http://org.apache.axis2/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://utils.carbon.wso2.org/xsd">
            <xs:import namespace="http://org.apache.axis2/xsd"/>
            <xs:complexType name="ServerException">
                <xs:complexContent>
                    <xs:extension base="ax2117:Exception">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mgt.service.carbon.wso2.org/xsd">
            <xs:complexType name="ParameterMetaData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="editable" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="locked" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="type" type="xs:int"/>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ServiceGroupMetaData">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="engagedModules" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="mtomStatus" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="serviceContextPath" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="serviceGroupName" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="services" nillable="true" type="ax2119:ServiceMetaData"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ServiceMetaData">
                <xs:sequence>
                    <xs:element minOccurs="0" name="active" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="disableTryit" type="xs:boolean"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="eprs" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="foundWebResources" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="mtomStatus" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="operations" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="scope" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="serviceGroupName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="serviceId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="serviceType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="serviceVersion" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="tryitURL" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="wsdlURLs" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="updateServiceGroupParameterRequest">
        <wsdl:part name="parameters" element="ns1:updateServiceGroupParameter"/>
    </wsdl:message>
    <wsdl:message name="ServerException">
        <wsdl:part name="parameters" element="ns1:ServerException"/>
    </wsdl:message>
    <wsdl:message name="getServiceGroupParameterRequest">
        <wsdl:part name="parameters" element="ns1:getServiceGroupParameter"/>
    </wsdl:message>
    <wsdl:message name="getServiceGroupParameterResponse">
        <wsdl:part name="parameters" element="ns1:getServiceGroupParameterResponse"/>
    </wsdl:message>
    <wsdl:message name="setServiceGroupParameterRequest">
        <wsdl:part name="parameters" element="ns1:setServiceGroupParameter"/>
    </wsdl:message>
    <wsdl:message name="configureServiceGroupMTOMRequest">
        <wsdl:part name="parameters" element="ns1:configureServiceGroupMTOM"/>
    </wsdl:message>
    <wsdl:message name="configureServiceGroupMTOMResponse">
        <wsdl:part name="parameters" element="ns1:configureServiceGroupMTOMResponse"/>
    </wsdl:message>
    <wsdl:message name="Exception">
        <wsdl:part name="parameters" element="ns1:Exception"/>
    </wsdl:message>
    <wsdl:message name="dumpAARRequest">
        <wsdl:part name="parameters" element="ns1:dumpAAR"/>
    </wsdl:message>
    <wsdl:message name="dumpAARResponse">
        <wsdl:part name="parameters" element="ns1:dumpAARResponse"/>
    </wsdl:message>
    <wsdl:message name="listServiceGroupRequest">
        <wsdl:part name="parameters" element="ns1:listServiceGroup"/>
    </wsdl:message>
    <wsdl:message name="listServiceGroupResponse">
        <wsdl:part name="parameters" element="ns1:listServiceGroupResponse"/>
    </wsdl:message>
    <wsdl:message name="updateServiceGroupParamtersRequest">
        <wsdl:part name="parameters" element="ns1:updateServiceGroupParamters"/>
    </wsdl:message>
    <wsdl:message name="setServiceGroupParametersRequest">
        <wsdl:part name="parameters" element="ns1:setServiceGroupParameters"/>
    </wsdl:message>
    <wsdl:message name="removeServiceGroupParameterRequest">
        <wsdl:part name="parameters" element="ns1:removeServiceGroupParameter"/>
    </wsdl:message>
    <wsdl:message name="getServiceGroupParametersRequest">
        <wsdl:part name="parameters" element="ns1:getServiceGroupParameters"/>
    </wsdl:message>
    <wsdl:message name="getServiceGroupParametersResponse">
        <wsdl:part name="parameters" element="ns1:getServiceGroupParametersResponse"/>
    </wsdl:message>
    <wsdl:message name="listServiceGroupsRequest"/>
    <wsdl:message name="listServiceGroupsResponse"/>
    <wsdl:portType name="ServiceGroupAdminPortType">
        <wsdl:operation name="updateServiceGroupParameter">
            <wsdl:input message="axis2:updateServiceGroupParameterRequest" wsaw:Action="urn:updateServiceGroupParameter"/>
            <wsdl:fault message="axis2:ServerException" name="ServerException" wsaw:Action="urn:updateServiceGroupParameterServerException"/>
        </wsdl:operation>
        <wsdl:operation name="getServiceGroupParameter">
            <wsdl:input message="axis2:getServiceGroupParameterRequest" wsaw:Action="urn:getServiceGroupParameter"/>
            <wsdl:output message="axis2:getServiceGroupParameterResponse" wsaw:Action="urn:getServiceGroupParameterResponse"/>
            <wsdl:fault message="axis2:ServerException" name="ServerException" wsaw:Action="urn:getServiceGroupParameterServerException"/>
        </wsdl:operation>
        <wsdl:operation name="setServiceGroupParameter">
            <wsdl:input message="axis2:setServiceGroupParameterRequest" wsaw:Action="urn:setServiceGroupParameter"/>
        </wsdl:operation>
        <wsdl:operation name="configureServiceGroupMTOM">
            <wsdl:input message="axis2:configureServiceGroupMTOMRequest" wsaw:Action="urn:configureServiceGroupMTOM"/>
            <wsdl:output message="axis2:configureServiceGroupMTOMResponse" wsaw:Action="urn:configureServiceGroupMTOMResponse"/>
            <wsdl:fault message="axis2:Exception" name="Exception" wsaw:Action="urn:configureServiceGroupMTOMException"/>
        </wsdl:operation>
        <wsdl:operation name="dumpAAR">
            <wsdl:input message="axis2:dumpAARRequest" wsaw:Action="urn:dumpAAR"/>
            <wsdl:output message="axis2:dumpAARResponse" wsaw:Action="urn:dumpAARResponse"/>
        </wsdl:operation>
        <wsdl:operation name="listServiceGroup">
            <wsdl:input message="axis2:listServiceGroupRequest" wsaw:Action="urn:listServiceGroup"/>
            <wsdl:output message="axis2:listServiceGroupResponse" wsaw:Action="urn:listServiceGroupResponse"/>
            <wsdl:fault message="axis2:Exception" name="Exception" wsaw:Action="urn:listServiceGroupException"/>
        </wsdl:operation>
        <wsdl:operation name="updateServiceGroupParamters">
            <wsdl:input message="axis2:updateServiceGroupParamtersRequest" wsaw:Action="urn:updateServiceGroupParamters"/>
            <wsdl:fault message="axis2:ServerException" name="ServerException" wsaw:Action="urn:updateServiceGroupParamtersServerException"/>
        </wsdl:operation>
        <wsdl:operation name="setServiceGroupParameters">
            <wsdl:input message="axis2:setServiceGroupParametersRequest" wsaw:Action="urn:setServiceGroupParameters"/>
        </wsdl:operation>
        <wsdl:operation name="removeServiceGroupParameter">
            <wsdl:input message="axis2:removeServiceGroupParameterRequest" wsaw:Action="urn:removeServiceGroupParameter"/>
        </wsdl:operation>
        <wsdl:operation name="getServiceGroupParameters">
            <wsdl:input message="axis2:getServiceGroupParametersRequest" wsaw:Action="urn:getServiceGroupParameters"/>
            <wsdl:output message="axis2:getServiceGroupParametersResponse" wsaw:Action="urn:getServiceGroupParametersResponse"/>
            <wsdl:fault message="axis2:ServerException" name="ServerException" wsaw:Action="urn:getServiceGroupParametersServerException"/>
        </wsdl:operation>
        <wsdl:operation name="listServiceGroups">
            <wsdl:input message="axis2:listServiceGroupsRequest" wsaw:Action="urn:listServiceGroups"/>
            <wsdl:output message="axis2:listServiceGroupsResponse" wsaw:Action="urn:listServiceGroupsResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ServiceGroupAdminSoap11Binding" type="axis2:ServiceGroupAdminPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="updateServiceGroupParameter">
            <soap:operation soapAction="urn:updateServiceGroupParameter" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="ServerException">
                <soap:fault use="literal" name="ServerException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setServiceGroupParameter">
            <soap:operation soapAction="urn:setServiceGroupParameter" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getServiceGroupParameter">
            <soap:operation soapAction="urn:getServiceGroupParameter" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServerException">
                <soap:fault use="literal" name="ServerException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="dumpAAR">
            <soap:operation soapAction="urn:dumpAAR" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="configureServiceGroupMTOM">
            <soap:operation soapAction="urn:configureServiceGroupMTOM" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listServiceGroup">
            <soap:operation soapAction="urn:listServiceGroup" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateServiceGroupParamters">
            <soap:operation soapAction="urn:updateServiceGroupParamters" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="ServerException">
                <soap:fault use="literal" name="ServerException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setServiceGroupParameters">
            <soap:operation soapAction="urn:setServiceGroupParameters" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="removeServiceGroupParameter">
            <soap:operation soapAction="urn:removeServiceGroupParameter" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getServiceGroupParameters">
            <soap:operation soapAction="urn:getServiceGroupParameters" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServerException">
                <soap:fault use="literal" name="ServerException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listServiceGroups">
            <soap:operation soapAction="urn:listServiceGroups" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ServiceGroupAdminSoap12Binding" type="axis2:ServiceGroupAdminPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="updateServiceGroupParameter">
            <soap12:operation soapAction="urn:updateServiceGroupParameter" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="ServerException">
                <soap12:fault use="literal" name="ServerException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setServiceGroupParameter">
            <soap12:operation soapAction="urn:setServiceGroupParameter" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getServiceGroupParameter">
            <soap12:operation soapAction="urn:getServiceGroupParameter" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServerException">
                <soap12:fault use="literal" name="ServerException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="dumpAAR">
            <soap12:operation soapAction="urn:dumpAAR" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="configureServiceGroupMTOM">
            <soap12:operation soapAction="urn:configureServiceGroupMTOM" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listServiceGroup">
            <soap12:operation soapAction="urn:listServiceGroup" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateServiceGroupParamters">
            <soap12:operation soapAction="urn:updateServiceGroupParamters" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:fault name="ServerException">
                <soap12:fault use="literal" name="ServerException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setServiceGroupParameters">
            <soap12:operation soapAction="urn:setServiceGroupParameters" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="removeServiceGroupParameter">
            <soap12:operation soapAction="urn:removeServiceGroupParameter" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getServiceGroupParameters">
            <soap12:operation soapAction="urn:getServiceGroupParameters" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ServerException">
                <soap12:fault use="literal" name="ServerException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="listServiceGroups">
            <soap12:operation soapAction="urn:listServiceGroups" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ServiceGroupAdminHttpBinding" type="axis2:ServiceGroupAdminPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="updateServiceGroupParameter">
            <http:operation location="updateServiceGroupParameter"/>
            <wsdl:input>
                <mime:content type="text/xml" part="updateServiceGroupParameter"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="setServiceGroupParameter">
            <http:operation location="setServiceGroupParameter"/>
            <wsdl:input>
                <mime:content type="text/xml" part="setServiceGroupParameter"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getServiceGroupParameter">
            <http:operation location="getServiceGroupParameter"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getServiceGroupParameter"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getServiceGroupParameter"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="dumpAAR">
            <http:operation location="dumpAAR"/>
            <wsdl:input>
                <mime:content type="text/xml" part="dumpAAR"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="dumpAAR"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="configureServiceGroupMTOM">
            <http:operation location="configureServiceGroupMTOM"/>
            <wsdl:input>
                <mime:content type="text/xml" part="configureServiceGroupMTOM"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="configureServiceGroupMTOM"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listServiceGroup">
            <http:operation location="listServiceGroup"/>
            <wsdl:input>
                <mime:content type="text/xml" part="listServiceGroup"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="listServiceGroup"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateServiceGroupParamters">
            <http:operation location="updateServiceGroupParamters"/>
            <wsdl:input>
                <mime:content type="text/xml" part="updateServiceGroupParamters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="setServiceGroupParameters">
            <http:operation location="setServiceGroupParameters"/>
            <wsdl:input>
                <mime:content type="text/xml" part="setServiceGroupParameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="removeServiceGroupParameter">
            <http:operation location="removeServiceGroupParameter"/>
            <wsdl:input>
                <mime:content type="text/xml" part="removeServiceGroupParameter"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getServiceGroupParameters">
            <http:operation location="getServiceGroupParameters"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getServiceGroupParameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getServiceGroupParameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listServiceGroups">
            <http:operation location="listServiceGroups"/>
            <wsdl:input>
                <mime:content type="text/xml" part="listServiceGroups"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="listServiceGroups"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ServiceGroupAdmin">
        <wsdl:port name="ServiceGroupAdminHttpsSoap11Endpoint" binding="axis2:ServiceGroupAdminSoap11Binding">
            <soap:address location="https://10.100.1.101:9443/services/ServiceGroupAdmin.ServiceGroupAdminHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ServiceGroupAdminHttpsSoap12Endpoint" binding="axis2:ServiceGroupAdminSoap12Binding">
            <soap12:address location="https://10.100.1.101:9443/services/ServiceGroupAdmin.ServiceGroupAdminHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="ServiceGroupAdminHttpsEndpoint" binding="axis2:ServiceGroupAdminHttpBinding">
            <http:address location="https://10.100.1.101:9443/services/ServiceGroupAdmin.ServiceGroupAdminHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>