c/axis2c/test/resources/wsdl/NestedArrays.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright 2003-2004 The Apache Software Foundation.                      -->
<!-- (c) Copyright IBM Corp. 2004, 2005 All Rights Reserved                   -->
<!--                                                                          -->
<!-- Licensed under the Apache License, Version 2.0 (the "License");          -->
<!-- you may not use this file except in compliance with the License.         -->
<!-- You may obtain a copy of the License at                                  -->
<!--                                                                          -->
<!--        http://www.apache.org/licenses/LICENSE-2.0                        -->
<!--                                                                          -->
<!-- Unless required by applicable law or agreed to in writing, software      -->
<!-- distributed under the License is distributed on an "AS IS" BASIS,        -->
<!-- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. -->
<!-- See the License for the specific language governing permissions and      -->
<!-- limitations under the License.                                           -->

<wsdl:definitions targetNamespace="http://complexissues.test.apache.org" xmlns:impl="http://complexissues.test.apache.org" xmlns:intf="http://complexissues.test.apache.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://complexissues.test.apache.org" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://complexissues.test.apache.org" xmlns:intf="http://complexissues.test.apache.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <complexType name="ArrayOfArrayOf_xsd_int">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="impl:ArrayOf_xsd_int"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOf_xsd_int">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="xsd:int"/>
    </sequence>
   </complexType>
   <element name="sendNestedArrays">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="arg_0_0" type="impl:ArrayOfArrayOf_xsd_int"/>
     </sequence>
    </complexType>
   </element>
   <element name="sendNestedArraysResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="sendNestedArraysReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="sendNestedArraysResponse">

      <wsdl:part element="impl:sendNestedArraysResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="sendNestedArraysRequest">

      <wsdl:part element="impl:sendNestedArrays" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="NestedArrays">

      <wsdl:operation name="sendNestedArrays">

         <wsdl:input message="impl:sendNestedArraysRequest" name="sendNestedArraysRequest"/>

         <wsdl:output message="impl:sendNestedArraysResponse" name="sendNestedArraysResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="NestedArraysSoapBinding" type="impl:NestedArrays">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="sendNestedArrays">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sendNestedArraysRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sendNestedArraysResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="NestedArraysService">

      <wsdl:port binding="impl:NestedArraysSoapBinding" name="NestedArrays">

         <wsdlsoap:address location="http://lion:9080/NestedArrays/services/NestedArrays"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
