c/axis2c/test/resources/wsdl/PlainTextAttachment.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://PlainTextAttachment" 
	xmlns:impl="http://PlainTextAttachment" 
	xmlns:intf="http://PlainTextAttachment" 
	xmlns:tns2="http://xml.apache.org/xml-soap" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">

 <wsdl:types>
  <schema elementFormDefault="qualified" 
	targetNamespace="http://PlainTextAttachment" 
	xmlns="http://www.w3.org/2001/XMLSchema" 
	xmlns:impl="http://PlainTextAttachment" 
	xmlns:intf="http://PlainTextAttachment" 
	xmlns:tns2="http://xml.apache.org/xml-soap" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <element name="echoText">
    <complexType>
     <sequence>
      <element name="arg2" nillable="true" type="tns2:PlainText"/>      
     </sequence>
    </complexType>
   </element>
   <element name="echoTextResponse">
    <complexType>
     <sequence>
      <element name="echoTextReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="echoTextRequest">
      <wsdl:part element="impl:echoText" name="parameters"/>
   </wsdl:message>
   <wsdl:message name="echoTextResponse">
      <wsdl:part element="impl:echoTextResponse" name="parameters"/>
   </wsdl:message>

   <wsdl:portType name="AttachmentBindingImpl">
      <wsdl:operation name="echoText">
         <wsdl:input message="impl:echoTextRequest" name="echoTextRequest"/>
         <wsdl:output message="impl:echoTextResponse" name="echoTextResponse"/>
      </wsdl:operation>
   </wsdl:portType>

   <wsdl:binding name="PlainTextAttachmentSoapBinding" type="impl:AttachmentBindingImpl">
      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="echoText">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="echoTextRequest">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="echoTextResponse">
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>

   <wsdl:service name="AttachmentBindingImplService">
      <wsdl:port binding="impl:PlainTextAttachmentSoapBinding" name="PlainTextAttachment">
         <wsdlsoap:address location="http://localhost:9080/PlainTextAttachment/services/PlainTextAttachment"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
