php/src/tests/samples/interop_tests/services/ComplexDataTypesWSvc/ComplexDataTypesDocLitW_3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/System">
  <xs:complexType name="ArrayOfNullableOfdecimal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="decimal" nillable="true" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNullableOfdecimal" nillable="true" type="tns:ArrayOfNullableOfdecimal"/>
  <xs:complexType name="ArrayOfNullableOfdateTime">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dateTime" nillable="true" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNullableOfdateTime" nillable="true" type="tns:ArrayOfNullableOfdateTime"/>
</xs:schema>